@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&subset=latin-ext');

body {
    font-size: 1.5em;
    position: relative;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.big {
    height: 4em !important;
    background-color: #14213d !important;
    padding-top: 1em !important;
}

.long {
    height: 300vh;
}

/* ----- section navigation ----- */
section.navigation {
    transition: .4s;
}

section.navigation .nav-small {
    padding-top: .5em;
    background-color: #14213d;;
}

section.navigation nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.42);
    border-color: transparent;
    font-family: 'Lato', serif;
    padding-top: 2em;
    transition: .8s;
    height: 5.5em;

}

section.navigation nav.navbar > a {
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: #14213d;
    padding: 5px 10px;
    animation: changeColors .7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: none;
    z-index: 1000;
    border-radius: 5px;
    color: #fca311;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: .4s;
    -moz-transition:  .4s;
    -ms-transition:  .4s;
    -o-transition:  .4s;
    transition:  .4s;
    line-height: 25px !important;
    border: .4px solid #fca311;
}

section.navigation nav.navbar > a:hover{
    transform: scale(1.2);
}


/*animation*/
@keyframes changeColors {
    0% {
        color: #ff0;
        border-color: #ff0;
    }
    100% {
        color: #fca311;
        border-color: #fca311;
    }
}

section.navigation nav.navbar-default i {
    font-size: 1em;
    animation: rotateY 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section.navigation .navbar-default .navbar-nav > li > a {
    color: #fca311;
    text-shadow: 1px 1px #000;
    padding: 0 15px;
    font-size: .9em;
    transition: .4s;
    text-transform: uppercase;
}

/*animate*/
@keyframes rotateY {
    0% {
        transform: rotateY(0) scale(1);

    }


    100% {
        transform: rotateY(360deg) scale(1.2);
        color: #fca311;


    }
}
section.navigation .navbar-default .navbar-nav > .active > a,
section.navigation .navbar-default .navbar-nav > .active > a:hover,
section.navigation .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
}

section.navigation .navbar-default .navbar-nav > li > a:hover,
section.navigation .navbar-default .navbar-nav > li > a:active,
section.navigation .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    transform: scale(1.2);
}

section.navigation nav.navbar-default  div.navbar-header a {
    color: #ff951e;
    text-shadow: 1px 1px #000;
    padding: 0;
}

section.navigation nav.navbar-default  div.navbar-header a i {
    color: #14213d;
}

@media screen and (max-width: 767px) {
    section.navigation nav.navbar a {
        text-align: center;
    }

    section.navigation nav.navbar a:hover {
        transform: none !important;
    }

    section.navigation nav div div.navbar-collapse {
        background-color: #e5e5e5;
    }

    .big {
        max-height: 15em !important;
        padding-top: 1em !important;
        background-color: #e5e5e5 !important;
    }

}
/* ----- end of section navigation ----- */


/* ----- section newsletter ----- */

section.newsletter {
    background: url(../images/bg-newsletter.jpg);
    background-size: cover;
    height: 70vh;
    padding-top: 25vh;
}

@media screen and (max-width: 991px) {
    section.newsletter {
        padding-top: 5vh;
    }
}

section.newsletter h3 {
    font-size: 3em;
    font-weight: 900;
    letter-spacing: .3em;
    font-family: "Lato:900", serif;
}

@media screen and (max-width: 991px) {
    section.newsletter h3 {
        font-size: 2em;
    }
}

section.newsletter h4 {
    color: #fca311;
    font-family: "Lato: 300", serif;
    text-shadow: .03em .03em #000;
}

@media screen and (max-width: 991px) {
    section.newsletter h4 {
        font-size: 1em;
        text-shadow: .05em .05em #000;
    }
}

section.newsletter div div form {
    padding-top: 2vh;
}

section.newsletter div div form div {

    padding: 0;
    padding: 0 2vw;
}

section.newsletter div div form div label,
section.newsletter div div form div input {
    width: 100%;
    padding: .2em 0 0 1em;

}

section.newsletter div div form div label {
    background-color: #fff;
    margin: 0;
    font-family: "Lato:300", serif;
    color: #9f9f9f;
    padding-bottom: .2em;
}

@media screen and (max-width: 991px) {
    section.newsletter div div form div label {
        font-size: .8em;
    }
}

section.newsletter div div form div input {
    border: none;
    font-family: "Lato", serif;
}

section.newsletter div div form > button {
    max-width: 16vw;
    min-width: 8vw;
    padding: 1.5em 1.5em;
    background-color: #fca311;
    font-family: "Lato:900", serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4vh;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    section.newsletter div div form > button {
        min-width: 50vw;
        padding: 1em 0;
    }
}

section.newsletter div div form button span {
    padding-left: 1em;
}

section.newsletter div div form button:hover span {
    animation: runningEnvelope;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

/*animation*/

@keyframes runningEnvelope {
    0% {
        transform: rotate(-360deg);
    }

    20% {
         left: 0;
    }

    100% {
        transform: rotate(360);
        left: 50%;
    }
}
/* ----- end of section newsletter ----- */