/*Start features list section*/

.container-jm {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    padding: 0;
    position: relative;

}

section.container-jm .section-title h2 {
    font-size: 3.5em;

    text-align: center;

    font-weight: bold;
}

section.container-jm .section-title {
    min-height: 15vh;
    width: 100%;
}

section.container-jm .panel {
    width: 100%;
    height: 400px;
    display: flex;
    opacity: 0.7;
    margin-bottom: 10px;

    transition: transform 2.5s linear;
}

.goleft {
    transform: translateX(1500px);
}

.goright {
    transform: translateX(-1500px);
}


.panel:hover {
    opacity: 1;
}

.box {
    width: 50%;
    height: 100%;
    flex-basis: 100%;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    opacity: 1;

}

div.box .table {
    max-height: 80%;
    display: table;
}

div.table p {
    display: table-cell;
    vertical-align: top;
    padding: 0 30px;
    text-align: left;

}

div.box h2 {
    font-size: 2.5em;

}

div.box p {
    font-size: 1.5em;
    margin: auto;
    padding-right: 10%;
    padding-top: 5vh;
    color: #14213d;

}

.lback {
    background-color: #e5e5e5;
    border-radius: 0 40px 40px 0;
}

.dback {
    background-color: #fca311;
    border-radius: 40px 0 0 40px;
}

/*panels background*/

.bg1 {
    background-image: url('../images/notification.jpg');
    background-size: cover;
    border-radius: 10% 0 0 10%;
    height: 100%;
    padding-right: 50%;
    background-position: center;
}

.bg2 {
    background-image: url('../images/saving.jpg');
    background-size: cover;
    height: 100%;
    padding-left: 50%;
    border-radius: 0 10% 10% 0;
    background-position: center;
}

.bg3 {
    background-image: url('../images/currency.jpg');
    background-size: cover;
    border-radius: 10% 0 0 10%;
    height: 100%;
    padding-right: 50%;
    background-position: center;
}

.bg4 {
    background-image: url('../images/reports.jpg');
    background-size: cover;
    height: 100%;
    padding-left: 50%;
    border-radius: 0 10% 10% 0;
    background-position: center;
}

.bg5 {
    background-image: url('../images/alerts.jpg');
    background-size: cover;
    border-radius: 10% 0 0 10%;
    height: 100%;
    padding-right: 50%;
    background-position: center;
}

.bg6 {
    background-image: url('../images/couple.jpg');
    background-size: cover;
    height: 100%;
    padding-left: 50%;
    border-radius: 0 10% 10% 0;
    background-position: center;
}

/*Start additonal info section */

div.container.height {
    min-height: 20vh;
    width: 100%;

}

div.col-sm-12 h2 {
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
}

div.addinfo .col-sm-6 {
    max-width: 400px;
}

div.addinfo .col-sm-3 {
    height: 30vh;
    position: relative;

}

.greyback {
    background-color: #e5e5e5;
    width: 100%;

}

.bg-prof {
    background-image: url("../images/Profesionales.jpg");
    background-size: cover;

}

/*animation on panels*/

.bg-prof:hover .overlay {
    height: 100%;

}

.bg-rwd:hover .overlay {
    height: 100%;

}

.bg-boot:hover .overlay {
    height: 100%;

}

.bg-js:hover .overlay {
    height: 100%;

}

div.addinfo .overlay {

    background-color: black;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: 1s ease;
    overflow: hidden;

}

div.overlay .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 1.35em;
    text-shadow: 3px 2px black;
}

/*additional info background on panels*/

.bg-rwd {
    background-image: url("../images/RWD.jpg");
    background-size: cover;

}

.bg-js {
    background-image: url("../images/javascript.png");
    background-size: cover;

}

.bg-boot {
    background-image: url("../images/bootstrap.png");
    background-size: cover;

}

/*phone mode on*/

@media screen and (max-width: 780px) {
    .bg1 {
        background-image: none;
        background-size: cover;
        border-radius: 10% 0 0 10%;
        height: 100%;
        padding-right: 0;
        background-position: center;
    }

    .bg2 {
        background-image: none;
        background-size: cover;
        height: 100%;
        padding-left: 0;
        border-radius: 0 10% 10% 0;
        background-position: center;
    }

    .bg3 {
        background-image: none;
        background-size: cover;
        border-radius: 10% 0 0 10%;
        height: 100%;
        padding-right: 0;
        background-position: center;
    }

    .bg4 {
        background-image: none;
        background-size: cover;
        height: 100%;
        padding-left: 0;
        border-radius: 0 10% 10% 0;
        background-position: center;
    }

    .bg5 {
        background-image: none;
        background-size: cover;
        border-radius: 10% 0 0 10%;
        height: 100%;
        padding-right: 0;
        background-position: center;
    }

    .bg6 {
        background-image: none;
        background-size: cover;
        height: 100%;
        padding-left: 0;
        border-radius: 0 10% 10% 0;
        background-position: center;
    }

    .lback {
        border-radius: 40px;
    }

    .dback {

        border-radius: 40px;

    }

    .bg-rwd {
        background-image: none;

    }

    .bg-js {
        background-image: none;

        /*background-color: white;*/

    }

    .bg-boot {
        background-image: none;

        /*background-color: white;*/
    }

    .bg-prof {
        background-image: none;

    }

    div.addinfo .col-sm-3 {
        height: 3em;

    }

    div.addinfo .overlay {
        transition: none;
        overflow: auto;
        position: static;
        height: 100%;
        opacity: 1;
        background-color: transparent;
    }

    div.addinfo .text {
        color: black;
        text-shadow: none;
        width: 100%;
        text-align: center;
        font-size: 1em;

    }

    .panel {
        margin-right: 10px;
        margin-left: 10px;
        height: 30vw;
        transform: none;

    }

    div.box p {
        padding-right: 0;
        font-size: 1em;
    }

    .greyback {
        border-radius: 10%;
    }

    div.text .icon {
        display: inline;
    }

    .box {
        height: 30vw;
    }

    div.col-sm-12 h2 {
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;

    }

}


@media screen and (max-width: 380px) {

    .panel {
        height: 70vw;
    }

    div.box p {
        padding-top: 2vw;
    }
    .box {
        height: 70vw;
    }

}