body, html {
    height: 100%;
}


.hero-image {
    border-radius: 20px;

    background-image: url("img/2017-31-08-18-02-49.jpeg");

    padding: 150px 50px;
    margin-top: 40px;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-text {

    text-align: center;
    color: white;
}
.hero-text h1{
    margin-top: 0;
}


p {

    font-family: "Roboto Slab";

}