.flex_container {
    display: flex;
    justify-content: space-around;
}
.flex_item:hover {
    transform: scale(1.1);
    color: brown;
}
p {
    color: brown;
}
.photo {
    width: 90%;
    background-color: brown;
}
.photo:hover{
    padding: 5px;

}
.photo-details{
    width: 90%;
    text-align: center;
}
