.flex_container {
    display: flex;
    justify-content: space-around;
}
.flex_item:hover {
    transform: scale(1.1);
    color: brown;
}
p {
    color: brown;
}
.photo {
    width: 90%;
    background-color: brown;
    transition: .5s ease;
}

.photo:hover{
    padding: 5px;
}

.photo-details{
    width: 90%;
    text-align: center;
}
.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 100;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    height: 100%;
    width:100%;
    transition: .5s ease;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: blue;
}

.container:hover .image {
    visibility: visible;
}

.container:hover .middle {
    opacity: 0;
    background-color: blue;
}

.container:hover .photo {
    visibility: visible;
}

.container:hover .middle {
    opacity: 0;
    background-color: blue;
}

.text {
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}